# Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT (Para a Task de Autenticação)
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Cloudinary (Para a Task de Fotos)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=